<div *ngIf="client">
  <div>
    <p>Usuń klienta:</p>
    <button mat-raised-button color="warn" (click)="openDialog()">Usuń</button>
    <!-- Bez dyrektywy mat-raised-button, nie mamy dostępu do color -->
  </div>

  <div>
    <p>Edytuj klienta:</p>
    <button mat-raised-button color="primary" (click)="openEditDialog()">
      Edytuj
    </button>
    <!-- Bez dyrektywy mat-raised-button, nie mamy dostępu do color -->
  </div>

  <p>Dane klienta:</p>
  <p>{{ client.firstname }} {{ client.surname }}</p>
  <p>Adres e-mail: {{ client.email }}</p>
  <p>Numer tel: {{ client.phone }}</p>
  <p>Adres zamieszkania: {{ client.address }}</p>
</div>
