<mat-form-field class="prefix">
  <mat-label>Kierunkowy</mat-label>
  <input matInput [formControl]="registerForm.controls.username" />
  <!-- @if (controls.username.invalid) { -->
  <!-- <mat-error>{{ getErrorMessage(controls.username) }}</mat-error> -->
  <!-- } -->
</mat-form-field>
<mat-form-field class="number">
  <mat-label>Numer telefonu</mat-label>
  <input matInput [formControl]="registerForm.controls.username" />
  <!-- @if (controls.username.invalid) { -->
  <!-- <mat-error>{{ getErrorMessage(controls.username) }}</mat-error> -->
  <!-- } -->
</mat-form-field>
